.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.container-fluid img{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 99%;
}



.title h1{
    font-family: 'Rationale', sans-serif;
    color: #FFF;
    font-size: 70px;
    margin-left : 70px;
    position: relative;
}

.form-group h2{
    font-family: 'Rationale', sans-serif;
    color: #FFF;
    margin-left : 220px;
    position: relative;
}

.info-bar{
    background-repeat: no-repeat;
}

.info-bar img{
    margin-left: 130px;
    }
